<div class="add-routes">
  <div class="add-route-selector p-3">
    <select name="routes" id="route" size="10" class="selector m-3">
      <option *ngFor="let route of rider.routes" [value]="route.url">
        {{ route.name }}
      </option>
    </select>
    <button class="remove-button btn btn-danger btn-lg">Remove Selected</button>
  </div>
  <div class="add-route-handler">
    <input type="text" name="routeId" id="routeId" />
    <label for="routeId">Route ID</label>
    <input type="text" name="routeName" id="routeName" />
    <label for="routeName">Route Name</label>
    <button class="add-button btn btn-success btn-lg mt-4">Add Route</button>
  </div>
</div>
