<div class="text-center">
  <main>
    <section class="">
      <img
        class="image rounded float-left"
        src="https://images.unsplash.com/photo-1519242220831-09410926fbff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        alt="broken bike"
      />
    </section>
    <section>
      <h5>I have bad news for you</h5>
      <p>
        The page you are looking for might be removed or is temporarily
        unavailable
      </p>
      <button class="btn btn-secondary" (click)="handleBackHome()">
        back to homepage
      </button>
    </section>
  </main>
</div>
