<div class="d-flex justify-content-center">
  <div class="card card-outline-secondary text-white">
    <div class="card-header">
      <h3 class="mb-0 text-white">Sign Up</h3>
    </div>
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="registrationForm.valid && registerHandler()"
      action=""
    >
      <div class="card-body">
        <div class="card-body">
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['username']
            "
            [label]="'Username'"
          ></app-text-input-forms>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['email']
            "
            [label]="'Email'"
          ></app-text-input-forms>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['password']
            "
            [label]="'Password'"
            type="password"
          ></app-text-input-forms>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['confirmPassword']
            "
            [label]="'Verify Password'"
            type="password"
          ></app-text-input-forms>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['name']
            "
            [label]="'Name'"
          ></app-text-input-forms>
          <div class="form-group mt-3 mb-3">
            <label for="" class="control-label"
              >Gender Identity:
            </label>
            <label for="" class="radio-inline">
              <input
                type="radio"
                value="male"
                formControlName="gender"
              />
              Male
            </label>
            <label for="" class="radio-inline">
              <input
                type="radio"
                value="female"
                formControlName="gender"
              />
              Female
            </label>
            <label for="" class="radio-inline">
              <input
                type="radio"
                value="non-binary"
                formControlName="gender"
                [checked]="true"
                checked="checked"
              />
              Non-Binary
            </label>
          </div>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['city']
            "
            [label]="'City'"
          ></app-text-input-forms>
          <app-text-input-forms
            [formControl]="
              registrationForm.controls['country']
            "
            [label]="'Country'"
          ></app-text-input-forms>
          <app-date-input-forms
            [formControl]="
              registrationForm.controls['dateOfBirth']
            "
            [maxDate]="maxDate"
            [label]="'Date Of Birth'"
          ></app-date-input-forms>
        </div>
        <div class="form-group">
          <button
            [disabled]="!registrationForm.valid"
            class="btn mt-3 btn-lg float-right register"
            type="submit"
          >
            Register
          </button>
          <button
            class="btn mt-3 ms-3 cancel btn-lg float-right"
            type="button"
            (click)="cancelHandler()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


