<div class="form-group text-center">
  <label for="inputName">{{ label }}</label>
  <input
    [class.is-invalid]="
      ngControl.touched && ngControl.invalid
    "
    class="form-control"
    id="inputName"
    placeholder="{{ label }}"
    type="{{ type }}"
    [formControl]="ngControl.control"
  />
  <div
    *ngIf="ngControl.control.errors?.required"
    class="invalid-feedback text-white"
  >
    Please Enter A {{ label }}
  </div>
  <div
    *ngIf="ngControl.control.errors?.minlength"
    class="invalid-feedback text-white"
  >
    {{ label }} must be at least
    {{
      ngControl.errors.errors?.minlength['requiredLength']
    }}
  </div>
  <div
    *ngIf="ngControl.control.errors?.maxlength"
    class="invalid-feedback text-white"
  >
    {{ label }} must be at most
    {{
      ngControl.errors.errors?.maxlength['requiredLength']
    }}
  </div>
  <div
    *ngIf="ngControl.control.errors?.passMatch"
    class="invalid-feedback text-white"
  >
    Password Verification Must Match Password
  </div>
</div>
