.dropdown-toggle {
    cursor: pointer;
}
.modal-body {
    display: inline-block;
}

.form-group {
    margin-bottom: 0.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1.5rem;
    border-right: 0.1rem solid #fff;
}

.active {
  font-weight: bold;
  border: 0.1rem solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  margin-left: 1rem;
  margin-right: 1rem;
}